<!DOCTYPE html>
<html lang="en">
    
<head>
<<<<<<< HEAD
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
=======
    <%- include('partials/head', {title: 'Tables of Contents'}); %>
>>>>>>> main
    <link rel="stylesheet" href="/home.css">
    <style>
        body{
            margin: 0px;
        
        }
     
        .myRow{
            border: 1px solid black;
        }
        .myCol{
            border: 3px solid black;
        }
        .heading1{
            height: 220px;
        }
        .logo{
            background-position: center;
            background-repeat: no-repeat;
            background-image: url('images/tables_contents2.png');
        }
        .navBar{
            padding: 40px 0px 0px 0px;
        }
        .banner{
            height: 600px;
            text-align: center;
            background-position: center;  
        }
        .heading2{
            height: 100px;
            text-align: center;
        }
        .icon{
            height: 400px;  
            text-align: center; 
        }
      
       
    </style>
</head>
<body>
<<<<<<< HEAD
    <div>
        <h1>Welcome to Our Tables of Contents</h1>
        <h2><a href='/recipes'>All Recipe Index</a></h2>
        <h2><a href='/category'>Recipes by Category</a></h2> 
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
=======
    
   
     
    <div class="container-fluid">

        <div class="row myRow heading1">
            <div class="col-lg-3 myCol logo"></div>
            <div class="col-lg-7 myCol navBar align-text-center">
                <%- include('partials/navbar2'); %>
            </div>
            <div class="col-lg-2 myCol">Login</div>
        </div>

        <div class="row myRow banner">
            <div class="col-lg-12 myCol justify-content-center">
                <h1>Welcome to Our Tables of Contents</h1>
            </div>
        </div>

        <div class="row myRow heading2">
            <div class="col-lg-12 myCol">How It Works</div>
        </div>

        <div class="row myRow icon">
            <div class="col-lg-4 myCol">
                Category icon + description
                <a href='/category'>Recipes by Category</a>
            </div>
            <div class="col-lg-4 myCol">
                Type icon + description
                <h2><a href='/recipes/type'>Browse Recipes by Type</a></h2>
            </div>
            <div class="col-lg-4 myCol">
                Recipes icon + description
                <a href='/recipes'>All Recipe Index</a>
            </div>
        </div>

    </div>


    
>>>>>>> main
</body>
</html>