<!DOCTYPE html>
<html lang="en">
    
<head>
    <%- include('partials/head', {title: 'Tables of Contents'}); %>
    <link rel="stylesheet" href="/home.css">
</head>
<body>

     
    <div class="container-fluid">
        <div class="row myRow heading1">
            <div class="col-lg-3 myCol logo">
                <!-- <img src='../public/images/tables_contents2.png'> -->
            </div>

            <div class="col-lg-7 myCol navBar nav d-flex align-items-center justify-content-around">
                <%- include('partials/navbar2'); %></div>
            
            <div class="col-lg-2 myCol d-flex align-items-center justify-content-around">
                <button type="button" class="btn btn-primary btn-lg">Login</button>
            </div>
        </div>

        <div class="row myRow banner">
            <div class="col-lg-12 myCol">
                <h1>Welcome to <br><br>Tables of Contents</h1>
            </div>
        </div>

        <div class="row myRow heading2">
            <div class="col-lg-12 myCol d-flex justify-content-center align-items-center">FIND A RECIPE</div>
        </div>

        <div class="row myRow icon">
            
            <div class="col-lg-4 myCol pic d-flex justify-content-center align-items-center flex-column">
                <a href='/category'>
                <img src='https://magnolia.com/images/imgstore.sndimg.com/h_500,f_auto/magnolia/images/244b9003-9888-4e28-95f4-16a21336c366.jpg'/>

                <!-- <img src = '../public/images/category.jpg'/> -->
                </a>  <br>
                <h2 class='links'><a href='/category'>Cuisine</a></h2>   
            </div>

            <div class="col-lg-4 myCol pic d-flex justify-content-center align-items-center flex-column">
                <a href='/recipes/type'>
                <img src='https://static.toiimg.com/thumb/78020516.cms?width=680&height=512&imgsize=1204293'/>
                <!-- <img src = '../public/images/mealType3.jpg'> -->
                </a><br>
                <h2 class='links'><a href='/recipes/type'>Meal Type</a></h2>
            </div>

            <div class="col-lg-4 myCol pic d-flex justify-content-center align-items-center flex-column">
                <a href='/recipes'>
                <!-- <img src='https://static01.nyt.com/images/2021/05/10/dining/as-creamy-chive-pasta/merlin_187482177_4cf7fb49-d5d3-4d9a-b755-4c053853c8be-articleLarge.jpg'/> -->
                <img src='../images/pasta.jpg'>
                </a><br>
                <h2 class='links'><a href='/recipes'>All Recipes</a></h2>
            </div>

        </div>
        <div class="row myRow filler">
            <div class="col-lg-4">
               
            </div>
        </div>

    </div>


    
</body>
</html>