<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes Index</title>
</head>
<body>
    <h1>Recipes Index (Home)</h1>
    <div>
        <% for(let i=0;i<recipes.length;i++){%>
            <li>
                <a href="/<%=recipes[i]._id%>">
                    <%= recipes[i].title%>
                </a>

                <img src=''>

                <form action='/recipes/<%=recipes[i]._id%>?_method=DELETE' method='POST'>
                    <input type="submit" value="Delete <%=recipes[i].title%>">
                </form>
            </li>
        <%}%>
    </div>
    <a href='/new'>Add a new recipe!</a>
</body>
</html>