<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new recipe</title>
</head>
<body>
    <h1>Recipe Create Form:</h1>
    <form action="/" method="POST">
        <p>Title: </p>
        <input name="title" type="text" placeholder="add title here">

        <p>Image: </p>
        <input name="img" placeholder="add image here">

        <p>Description: </p>
        <textarea name="description" cols="30" rows="10" placeholder='write a description'></textarea>

        <p>Ingredients: </p>
        <textarea name="ingredients" cols="30" rows="10" placeholder='add ingredients'></textarea>

        <p>Instructions: </p>
        <textarea name="instructions" cols="30" rows="10" placeholder='add instructions'></textarea>

        <p>Category: </p>
        <input name="category" placeholder="add a category">

        <p>Time: </p>
        <input name="time" type='number' placeholder="add time">

      <br><br>
        <input type="submit" value="Create new recipe">
    </form>
</body>
</html>