<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category Edit</title>
</head>
<body>
    <h1>Category Edit Page</h1>

    <form action="" method="">

        <input type ='submit' value="Edit Category">
    </form>
</body>
</html>