<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category Edit</title>
    <link rel="stylesheet" href="/category/edit.css">
</head>
<body>
    <span class='logo'>
        <img src='/images/tables_contents2.png'>
    </span>
   
<div class='container'>
    <form method="POST" action="/category/<%=id%>?_method=PUT" >

        <h1><%=category.title%></h1>
        <input type='text' name='title' placeholder='new category name'>

        <input class='return' type ='submit' value="Edit Category">

        
    </form>

    <form  action='/category/<%=category._id%>?_method=DELETE' method='POST'>
        <input class='return delete' type="submit" value="Delete <%=category.title%>">
    </form>
</div>
    <div>
        <a href="/category"><button class='return'>Return to Categories Page</button></a>
    </div>
</body>
</html>