<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category Index</title>
    <link rel="stylesheet" href="/category/index.css">
</head>
<body>
    <h1>Recipes by Category</h1>
    <button><a href='/category/new'>Create a new category</a></button>
<div>
    <ul>
    <% for(let i=0; i<category.length; i++){ %>
        <li>
        <a href="/category/<%=category[i]._id%>">
            <%= category[i].title%>
        </a>

      
   <% } %>
</li>
</ul>
</div>
<div>
    <a href="/recipes/type">Browse Recipes by Type</a>
    <a href="/recipes">Browse All Recipes</a>
    
</div>

</body>
</html>