<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category New page</title>
    <link rel="stylesheet" href="/category/new.css">
</head>
<body>
    <span class='logo'>
        <img src='../images/tables_contents2.png'>
    </span>
    <h1>Create a new category for your recipes!</h1>
    <div class='container'>
        <div>
            <p>Existing Categories: </p> 
            <ul>
                <% for(let i=0; i<category.length; i++){ %>
                    <li>
                        <%= category[i].title%>
                    </li>    
                <% } %>
            </ul>
        </div>      

        <form action='/category' method='POST'>
            <p class='new'>New Category: </p>
            <input name="title" placeholder="add a category">
            <input class='buttons' type="submit" value="Create new category">   
        </form>

    <br>
</div>
    <div>
        <a href="/category"><button class='return'>Return to Categories Page</button></a>
    </div>
    
</body>
</html>