<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category Show Page</title>
</head>
<body>
  

    <h1><%= category.title%> </h1>

    <div>
        <a href="/category">Return to Categories Page</a>
        <a href="/category/<%=category.id%>/edit">Edit this category</a>
    </div>

    <h2>All <%=category.title%> Recipes:</h2>

<div>
    <% for (let i=0; i<category.recipes.length; i++){ %>
        <%= category.recipes[i].title %>

   <% } %>
 


</div>
</body>
</html>