body{
    background-color: #FFEFD9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
}
.heading1{
    height: 230px;
    
}
.navBar{
    font-size: 25px;
    transition: 0.3s;  
}
.nav-link{
    color:gray;
}
.nav-link:hover {
    color: black;
}
h4{
    color:#634419 ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
    color: black;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-link{
    color:gray;
}
.nav-link:hover {
    color: black;
}
a:hover{
    color: black;
}
.three_buttons{
    display: flex;
    flex-direction: row; 
    justify-content: center;
}
.buttons {
    background-color:  #a48c64;
    border-radius: 20px;
    border:#634419;
    border-width: 5px;
    color: #f8f4ef;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
.heading1{
    height: 220px;
}
.logo{
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/tables_contents2.png');
}
.navBar{
    padding: 40px 0px 0px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.banner{
    height: 600px;
    text-align: center;
    background-position: center;  
}
.heading2{
    height: 100px;
    text-align: center;
}
.icon{
    height: 400px;  
    text-align: center; 
}
.our_container{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 #161615;
    transition: 0.3s;
    width: 30%;
    height: 300px;
    padding-bottom: 0px;
    margin: 5px;
  }
  
  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(241, 239, 239, 0.968);
  }

img {
    max-height: 70%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: top;
  }  
  
  /* Add some padding inside the card container */
.recipe_title {
    /* background-color: #f0e6d9; */
    padding: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
    text-align: center;
    color: #634419;
}
.recipe_title:hover {
    background-color:#decbb1;
}

  /* // RESPONSIVE GRID */
  @media all and (max-width: 768px){
    .card{
      width: 49%;
      margin-bottom: 3rem;
    }
  }
  @media all and (max-width: 480px){
    .card{
      width: 100%;
      margin-bottom: 3rem;
    }
  }
