
body{
  background-color: #FFEFD9;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.heading1{
  height: 230px;
}
.navBar{
  font-size: 25px;
  transition: 0.3s;  
}
.nav-link{
  color:gray;
}
.nav-link:hover {
  color: black;
}
.myRow2{
   margin: 50px 0px 50px 0px;
}

h1{
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(3, 59, 10, 0.897);
}
.theButtons{
  margin: 30px 0px 30px 0px;
}
.buttons {
  background-color:  #ce612e;
  border-radius: 20px;
  border:#634419;
  border-width: 5px;
  color: #fbebdb;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
  text-decoration: none;
  color: #f5f3f0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} 



.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 #634419;
  transition: 0.3s;
  border-radius: 10px;
  width: 100%;
  height: 500px;
}
img {
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: top;
  border-radius: 10px;
}  

.myCol1{
  margin: 30px 10px 50px 0px;
}
.myCol2{
  margin: 30px 0px 50px 10px;
}
.info{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(3, 59, 10, 0.897);
  margin-bottom: 50px;
}


ul{
  list-style: circle;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(3, 59, 10, 0.897);
}

ol{
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: rgba(3, 59, 10, 0.897);
}

h2{
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: rgba(3, 59, 10, 0.897);
}
p{
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: rgba(3, 59, 10, 0.897);
}


.column{
display: flex;
flex-direction: row;
justify-content: space-around;
}

.filler{
  height: 50px;
}