body{
    background-color: #FFEFD9
}
h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.myRow{
    /* border: 1px solid black; */
}
.myCol{
}
.heading1{
    height: 220px;
}
.logo{
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/tables_contents2.png');
}
.navBar{
    font-size: 25px;
}
.banner{
    height: 300px;
    text-align: center;
    padding-top: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/images/foodworld.png');
    color: rgb(249, 246, 243);
}
.heading2{
    height: 100px;
}
.our_container{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: stretch;
}
.buttons {
    background-color:  #f3ba69;
    color: #634419;
    border-radius: 10px;
    border-color: #f0e2dc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
}
button:hover{
    background-color:#decbb1;
    color: beige;
}
.buttons_category {
    background-color:  #f3e2cb;
    color: #634419;
    border-radius: 10px;
    border-color: #f0e2dc;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
}
.buttons_category:hover{
    background-color:#decbb1;
    color: beige;
}
h4{
    color:#634419 ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
    color: black;
    text-decoration: none;
}
.nav-link{
    color:gray;
}
.nav-link:hover {
    color: black;
}
a:hover{
    color: black;
}
