<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overview</title>
</head>
<body>
    <h1>Overview</h1>

    # TABLES OF CONTENTS <br><br>

## Project Description <br>
Tables of Contents will be an app designed for users to add, organize, and find recipes to aid in the daily decisions of meal prep.<br>



## USER STORIES<br>
As a user I want to be able organize recipes based on category - app/snacks, vs desserts, vs dinner<br>
As a user I want to be able to add in additional recipes to a category for other users to try<br>
As a user I want to be able to edit recipes<br>
As a user I want to be able to delete recipes<br><br>


## MVP GOALS<br>
1. Add new recipes<br>
2. Edit current recipes<br>
3. Delete recipes<br>
4. Categorize recipes<br>
5. Show list of recipes<br><br>

## STRETCH GOALS<br>
1. List recipes for meal plan<br>
2. Create shopping list<br>
3. Detailed categorizing (i.e breakfast, lunch, dinner)<br>
4. Full course meal creation<br><br>

## RESTful Routing Chart<br><br>

![Screen Shot 2022-01-21 at 3 49 31 PM](https://user-images.githubusercontent.com/95259747/150806331-13de8cca-d8d6-4ad1-b721-7c0aa41eff23.png)
<br><br>

# ERD<br><br>
<br><br>
#![Screen Shot 2022-01-24 at 9 04 10 AM](https://user-images.githubusercontent.com/95259747/150808066-2ecde8bc-0694-4dae-8de0-ff1703b792d5.png)
<br><br>



## Wireframes<br><br>
<br>
<img width="721" alt="Screen Shot 2022-01-21 at 2 56 11 PM" src="https://user-images.githubusercontent.com/95259747/150807941-5f38ee8e-bb61-4163-9932-a265e071b3e2.png">
<br>

<img width="776" alt="Screen Shot 2022-01-21 at 2 50 26 PM" src="https://user-images.githubusercontent.com/95259747/150807869-0c44c614-86a9-4b4e-90fa-c84c004cb440.png">






</body>
</html>