<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new recipe</title>
    <link rel="stylesheet" href="/recipes/new.css">

    <script type="text/javascript">
        function CheckCategory(val){
         var element=document.getElementById('color');
         if(val=='Other')
           element.style.display='block';
         else  
           element.style.display='none';
        }
        // click other option
        // promps text box + submit new category button
        // button does fetch to /category with verb of POST
        // button onclick will be sep function
        // get rid of text box and button, select HTML element has new category
        // doc.createElement with new opt
        // fetch event.preventdefault
        
        </script> 
</head>


<body>
<img class='logo' src='../images/tables_contents2.png'>
    <h1>Recipe Create Form:</h1> 
    <h4><a href='/recipes'><button class='return'>Return to Recipes</button></a></h4>
    <form class= 'text' action="/recipes" method="POST">
        <div>
        <p>Title: </p>
        <input name="title" type="text" placeholder="add title here">
    </div>
        <p>Image: </p>
        <input name="img" placeholder="add image here">
        <div class = "type">
        <p>Category: </p>
        <select id='category' name='category'   >
        <!-- onchange='CheckCategory(this.value) -->
      
            <option> ---Select Option--- </option>
            <!-- <option value='Other'> Other </option> -->
            <%for(let i=0;i<category.length; i++){%>
                <option value="<%=category[i]._id%>"><%= category[i].title%></option>
               
            <% }%>
            
        </select> 
        <p>Don't see your category? Add a category<a href='/category/new' >here.</a></p>
         
        <!-- <input type="text" name="category" id="color" style='display: none' /> -->
        
       
        <p>Food Type: </p>
        <select id='foodType' name ='foodType'  >  
           
            <option> ---Select Option--- </option>
            <%for(let i=0;i<type.length; i++){%>
                <option value="<%=type[i]%>"><%= type[i]%></option>
               
            <% }%>
                
            </select>  
        </div>
        <p>Time: </p>
        <input name="time" type='text' placeholder="add time">
        <div class = 'text_box'>
            <div>
        <p class='column'>Description: </p>
        <textarea name="description" cols="30" rows="10" placeholder='write a description'></textarea>
    </div>
    <div>
        <p class='column'>Ingredients  (separate each ingredient with a comma): </p>
        <textarea name="ingredients" cols="30" rows="10" placeholder='add ingredients'></textarea>
    </div>
    <div>
        <p class='column'>Instructions (separate each instruction with a semi-colon): </p>
        <textarea name="instructions" cols="30" rows="10" placeholder='add instructions'></textarea>
    </div>
    </div>     
          
        
        <br><br>
        <input class='button' type="submit" value="Create New Recipe">
    </form>

  
   
</body>
</html>