<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Types</title>
    <link rel="stylesheet" href="/recipes/type.css">
</head>
<body>
   
    <img src='../images/tables_contents2.png'>

  

    <div class = 'container'>
    <a href='/recipes/type/appetizer'><img src='../images/app.jpg'></a>
    <a href='/recipes/type/entree'> <img src='../images/entree.jpg'></a>
   <a href='/recipes/type/dessert'> <img src='../images/cookie.jpg'></a>
</div>
  <div class="two-buttons">
<a href="/category"><button class='buttons'>Return to Categories Page</button></a>
<a href="/recipes"><button class='buttons'>Browse all recipes</button></a>
</div>
</body>
</html>