<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/category">Return to Categories Page</a>
    <a href="/recipes">Browse all recipes</a>

    <h1> Type Index Page</h1>

    <p><a href='/recipes/type/appetizer'>Appetizers</a></p>
    <p><a href='/recipes/type/entree'>Entrees</a></p>
    <p><a href='/recipes/type/dessert'>Desserts</a></p>
    
</body>
</html>