<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Type Index Page</title>
</head>
<body>
    <h1> Type Index Page</h1>

    <ul style= 'list-style: none'>
<li>   <% for(let i=0; i <type.length; i++){ %>

<p><a href="/recipes/type/<%=type[i]._id%>" ><%= type[i].title%></a></p>

  <form action='/recipes/type/<%=type[i]._id%>?_method=DELETE' method='POST'>
    <input type="submit" value="Delete <%=type[i].title%>">
   
</form>
<%  } %>
</li> 
</ul>
   
</body>
</html>