<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Type New Page</title>
</head>
<body>
    <h1>Type New Page</h1>

    <form action='/type' method='POST'>
        <p>Type: </p>
        <input name="title" placeholder="add a category">
        <input type="submit" value="Type">   
    </form>
</body>
</html>